In [1]:
import pandas as pd
import pickle
import requests
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import os, pickle

In [2]:
def table_parser(page):
    file = open(page)
    # page = page.split('\n')
    table = []
    num = 0
    for line in file:
        if 'Grade' in line:
            num += 1
        if num > 0 and len(line.split())!=0:
            num += 1
        if 3 <= num < 21:
            # line = line.rstrip()
            if len(line.split())!=0:
                split_line = line.split(' ')
                split_line = [x for x in split_line if x != '']
                strip_line = split_line[:16]
                table.append(strip_line)
    df = pd.DataFrame(table)
    df.drop([0,1,2,3,4,6,7,8,9,11,12,13,14],axis=1,inplace=True)
    df.drop([15,16,17],inplace=True)
    df.columns = ['WG', 'WL', 'WS']
    df.index = range(1,16)
    
    file.close()
    return df

In [3]:
#list(table_parser('docs/AK/007,007,AK,Ancorage/09Sep1997/AK-007,007,AK,Ancorage-09Sep1997.html')['WG'])

In [4]:
# test = pd.DataFrame(test_df)

In [5]:
# dic = {}
# for state in os.listdir('docs'):
#     dic[state] = {}
#     for county in os.listdir('docs/'+state):
        
#         name = county.split(',')[3]
#         dic[state][name] = {}
#         for date in os.listdir('docs/'+state+'/'+county):
#             try:
#                 dic[state][name][date] = {}
#                 temp = table_parser('docs/{}/{}/{}/{}-{}-{}.html'.format(state, county, date,state, county, date))
#                 dic[state][name][date]['WG'] = list(temp['WG'])
#                 dic[state][name][date]['WL'] = list(temp['WL'])
#                 dic[state][name][date]['WS'] = list(temp['WS'])
#             except ValueError:
#                 print(state, county, date)

In [6]:
# pickle.dump( dic, open( "dic.p", "wb" ) )
# dic = {'A': {'a': {1: [2,3,4,5,6],
#    ...:                           2: [2,3,4,5,6]},
#    ...:                     'b': {1: [2,3,4,5,6],
#    ...:                           2: [2,3,4,5,6]}},
#    ...:               'B': {'a': {1: [2,3,4,5,6],
#    ...:                           2: [2,3,4,5,6]},
#    ...:                     'b': {1: [2,3,4,5,6],
#    ...:                           2: [2,3,4,5,6]}}}

In [7]:
# # reform = {(level1_key, level2_key, level3_key,level4_key): values
#            for level1_key, level2_dict in dic.items()
#            for level2_key, level3_dict in level2_dict.items()
#            for level3_key, level4_dict in level3_dict.items()
# #            for level4_key, level5_dict in level4_dict.items()
# #            for level5_key, values      in level5_dict.items()
#            for level4_key, values      in level4_dict.items()}

In [8]:
# test = pd.DataFrame(reform, index=[0])
# pay = pd.DataFrame(reform).T

In [9]:
# pay.index.set_names(['State', 'County', 'Date', 'Scale'], inplace=True)

In [10]:
# pay

In [11]:
# pickle.dump( pay, open( "pay.p", "wb" ) )

In [12]:
pay = pickle.load( open( "pay.p", "rb" ) )

In [13]:
pay.head()

State         AK                                                         \
County  Ancorage
Date   09Sep1997               09Sep2008               10Sep1996
Scale         WG     WL     WS        WG     WL     WS        WG     WL
0          14.78  16.26  22.34     15.76  17.31  25.59     14.75  16.23
1          15.94  17.53  23.50     17.64  19.39  27.47     15.88  17.47
2          17.10  18.82  24.66     19.54  21.50  29.37     17.01  18.72
3          18.26  20.08  25.82     21.43  23.56  31.26     18.13  19.95
4          19.42  21.36  26.98     23.34  25.67  33.18     19.26  21.19

State                        ...                   WY                          \
County                       ...      Washakie County
Date          11Sep2007      ...            20Mar2001 21Mar2000
Scale      WS        WG      ...                   WS        WG     WL     WS
0       22.22     15.30      ...                15.68      9.62  10.58  15.29
1       23.35     17.12      ...                16.77     10.65  11.72  16.32
2       24.48     18.97      ...                17.85     11.68  12.85  17.35
3       25.60     20.80      ...                18.95     12.71  13.99  18.38
4       26.73     22.66      ...                20.04     13.75  15.13  19.42

State
County
Date   23Mar1999                   24Mar1998
Scale         WG     WL     WS            WG            WL            WS
0           9.48  10.43  14.96   <U>9.41</U>  <U>10.35</U>  <U>14.73</U>
1          10.45  11.49  15.94  <U>10.33</U>  <U>11.36</U>  <U>15.65</U>
2          11.44  12.58  16.92  <U>11.26</U>  <U>12.39</U>  <U>16.58</U>
3          12.41  13.65  17.90         12.17         13.40         17.49
4          13.38  14.73  18.87         13.02         14.32         18.26

[5 rows x 194592 columns]

https://stackoverflow.com/questions/17921010/how-to-query-multiindex-index-columns-values-in-pandas

In [14]:
pay.xs('Lee County',level='County')

AttributeError: 'RangeIndex' object has no attribute 'get_loc_level'