In [4]:
import pandas as pd
import pickle
import requests
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import os, pickle

In [2]:
def table_parser(page):
    file = open(page)
    # page = page.split('\n')
    table = []
    num = 0
    for line in file:
        if 'Grade' in line:
            num += 1
        if num > 0 and len(line.split())!=0:
            num += 1
        if 3 <= num < 21:
            # line = line.rstrip()
            if len(line.split())!=0:
                split_line = line.split(' ')
                split_line = [x for x in split_line if x != '']
                strip_line = split_line[:16]
                table.append(strip_line)
    df = pd.DataFrame(table)
    df.drop([0,1,2,3,4,6,7,8,9,11,12,13,14],axis=1,inplace=True)
    df.drop([15,16,17],inplace=True)
    df.columns = ['WG', 'WL', 'WS']
    df.index = range(1,16)
    
    file.close()
    return df

In [3]:
list(table_parser('docs/AK/007,007,AK,Ancorage/09Sep1997/AK-007,007,AK,Ancorage-09Sep1997.html')['WG'])

['14.78',
 '15.94',
 '17.10',
 '18.26',
 '19.42',
 '20.57',
 '21.73',
 '22.89',
 '24.05',
 '25.21',
 '26.36',
 '27.53',
 '28.68',
 '29.84',
 '31.00']

In [78]:
test = pd.DataFrame(test_df)

In [21]:
dic = {}
for state in os.listdir('docs'):
    dic[state] = {}
    for county in os.listdir('docs/'+state):
        
        name = county.split(',')[3]
        dic[state][name] = {}
        for date in os.listdir('docs/'+state+'/'+county):
            try:
                dic[state][name][date] = {}
                temp = table_parser('docs/{}/{}/{}/{}-{}-{}.html'.format(state, county, date,state, county, date))
                dic[state][name][date]['WG'] = list(temp['WG'])
                dic[state][name][date]['WL'] = list(temp['WL'])
                dic[state][name][date]['WS'] = list(temp['WS'])
            except ValueError:
                print(state, county, date)

AZ 009,009,RUS,Gila County 07May1996
AZ 009,009,RUS,Yavapai County 07May1996
AZ 010,010,RUS,Graham County 07May1996
AZ 010,010,RUS,Greenlee County 07May1996
NY 097,097,RUS,Madison County 01May1997
NY 097,097,RUS,Madison County 01May2001
NY 097,097,RUS,Madison County 12Apr2016
NY 097,097,RUS,Madison County 14Apr2015
NY 097,097,RUS,Madison County 15Apr2014
NY 097,097,RUS,Madison County 16Apr2013
NY 097,097,RUS,Madison County 17Apr2012
NY 097,097,RUS,Madison County 18Apr2000
NY 097,097,RUS,Madison County 19Apr2011
NY 097,097,RUS,Madison County 20Apr1999
NY 097,097,RUS,Madison County 20Apr2010
NY 097,097,RUS,Madison County 21Apr2009
NY 097,097,RUS,Madison County 22Apr2008
NY 097,097,RUS,Madison County 23Apr1998
NY 097,097,RUS,Madison County 24Apr2007
NY 097,097,RUS,Madison County 25Apr2006
NY 097,097,RUS,Madison County 26Apr1996
NY 097,097,RUS,Madison County 26Apr2005
NY 097,097,RUS,Madison County 27Apr2004
NY 097,097,RUS,Madison County 29Apr2003
NY 097,097,RUS,Madison County 30Apr2002

In [5]:
pickle.dump( dic, open( "dic.p", "wb" ) )
# dic = {'A': {'a': {1: [2,3,4,5,6],
#    ...:                           2: [2,3,4,5,6]},
#    ...:                     'b': {1: [2,3,4,5,6],
#    ...:                           2: [2,3,4,5,6]}},
#    ...:               'B': {'a': {1: [2,3,4,5,6],
#    ...:                           2: [2,3,4,5,6]},
#    ...:                     'b': {1: [2,3,4,5,6],
#    ...:                           2: [2,3,4,5,6]}}}

In [24]:
reform = {(level1_key, level2_key, level3_key,level4_key): values
           for level1_key, level2_dict in dic.items()
           for level2_key, level3_dict in level2_dict.items()
           for level3_key, level4_dict in level3_dict.items()
#            for level4_key, level5_dict in level4_dict.items()
#            for level5_key, values      in level5_dict.items()
           for level4_key, values      in level4_dict.items()}

In [28]:
# test = pd.DataFrame(reform, index=[0])
pay = pd.DataFrame(reform).T

In [49]:
pay.index.set_names(['State', 'County', 'Date', 'Scale'], inplace=True)

In [50]:
pay

                                                 0             1   \
State County          Date      Scale
AK    Ancorage        09Sep1997 WG            14.78         15.94
                                WL            16.26         17.53
                                WS            22.34         23.50
                      09Sep2008 WG            15.76         17.64
                                WL            17.31         19.39
                                WS            25.59         27.47
                      10Sep1996 WG            14.75         15.88
                                WL            16.23         17.47
                                WS            22.22         23.35
                      11Sep2007 WG            15.30         17.12
                                WL            16.80         18.82
                                WS            24.84         26.67
                      12Sep2006 WG            15.02         16.81
                                WL            16.50         18.48
                                WS            24.39         26.19
                      13Sep2005 WG            14.60         16.34
                                WL            16.04         17.97
                                WS            23.71         25.46
                      13Sep2016 WG            17.19         19.25
                                WL            18.88         21.15
                                WS            27.90         29.95
                      14Sep2004 WG            14.13         15.82
                                WL            15.53         17.40
                                WS            22.96         24.65
                      15Sep2015 WG            16.95         18.98
                                WL            18.62         20.86
                                WS            27.52         29.54
                      16Sep2003 WG            13.59         15.22
                                WL            14.94         16.74
                                WS            22.09         23.72
...                                             ...           ...
WY    Washakie County 17Mar2004 WG            10.30         11.56
                                WL            11.34         12.71
                                WS            16.80         18.05
                      17Mar2015 WG            12.38         13.87
                                WL            13.61         15.25
                                WS            20.14         21.69
                      18Mar1997 WG            10.29         10.90
                                WL            11.32         11.98
                                WS            15.39         15.99
                      18Mar2003 WG             9.91         11.12
                                WL            10.91         12.23
                                WS            16.16         17.37
                      19Mar2002 WG             9.87         11.01
                                WL            10.85         12.11
                                WS            15.90         17.05
                      19Mar2014 WG            12.25         13.73
                                WL            13.47         15.09
                                WS            19.94         21.47
                      20Mar2001 WG             9.80         10.89
                                WL            10.79         11.97
                                WS            15.68         16.77
                      21Mar2000 WG             9.62         10.65
                                WL            10.58         11.72
                                WS            15.29         16.32
                      23Mar1999 WG             9.48         10.45
                                WL            10.43         11.49
                                WS            14.96         15.94
                      24Mar1998 WG      <U>9.41</U>  <U>10.33</U>
                                WL     <U>10.35</U>  <U>11.36</U>
                                WS     <U>14.73</U>  <U>15.65</U>

                                                 2      3      4      5   \
State County          Date      Scale
AK    Ancorage        09Sep1997 WG            17.10  18.26  19.42  20.57
                                WL            18.82  20.08  21.36  22.64
                                WS            24.66  25.82  26.98  28.13
                      09Sep2008 WG            19.54  21.43  23.34  25.22
                                WL            21.50  23.56  25.67  27.75
                                WS            29.37  31.26  33.18  35.05
                      10Sep1996 WG            17.01  18.13  19.26  20.40
                                WL            18.72  19.95  21.19  22.43
                                WS            24.48  25.60  26.73  27.87
                      11Sep2007 WG            18.97  20.80  22.66  24.48
                                WL            20.87  22.87  24.92  26.94
                                WS            28.51  30.35  32.21  34.03
                      12Sep2006 WG            18.63  20.43  22.25  24.04
                                WL            20.49  22.46  24.47  26.46
                                WS            28.00  29.81  31.63  33.42
                      13Sep2005 WG            18.11  19.86  21.63  23.37
                                WL            19.92  21.84  23.79  25.73
                                WS            27.22  28.98  30.75  32.50
                      13Sep2016 WG            21.30  23.37  25.45  27.50
                                WL            23.44  25.69  28.01  30.26
                                WS            32.02  34.09  36.17  38.22
                      14Sep2004 WG            17.53  19.23  20.94  22.63
                                WL            19.29  21.15  23.03  24.91
                                WS            26.36  28.06  29.77  31.47
                      15Sep2015 WG            21.01  23.05  25.10  27.12
                                WL            23.12  25.34  27.62  29.84
                                WS            31.58  33.62  35.67  37.69
                      16Sep2003 WG            16.87  18.50  20.15  21.78
                                WL            18.56  20.35  22.16  23.97
                                WS            25.37  27.00  28.65  30.28
...                                             ...    ...    ...    ...
WY    Washakie County 17Mar2004 WG            12.82  14.08  15.34  16.60
                                WL            14.09  15.50  16.88  18.26
                                WS            19.31  20.58  21.83  23.09
                      17Mar2015 WG            15.39  16.96  18.63  20.26
                                WL            16.90  18.67  20.50  22.29
                                WS            23.38  25.05  26.68  28.24
                      18Mar1997 WG            11.51  12.06  12.66  13.53
                                WL            12.67  13.27  13.92  14.88
                                WS            16.61  17.16  17.75  18.63
                      18Mar2003 WG            12.33  13.55  14.76  15.97
                                WL            13.56  14.91  16.24  17.57
                                WS            18.58  19.80  21.01  22.22
                      19Mar2002 WG            12.14  13.28  14.43  15.56
                                WL            13.35  14.62  15.87  17.11
                                WS            18.18  19.32  20.46  21.59
                      19Mar2014 WG            15.23  16.79  18.44  20.05
                                WL            16.73  18.48  20.29  22.06
                                WS            23.14  24.80  26.41  27.96
                      20Mar2001 WG            11.97  13.07  14.16  15.24
                                WL            13.17  14.38  15.57  16.77
                                WS            17.85  18.95  20.04  21.12
                      21Mar2000 WG            11.68  12.71  13.75  14.78
                                WL            12.85  13.99  15.13  16.26
                                WS            17.35  18.38  19.42  20.45
                      23Mar1999 WG            11.44  12.41  13.38  14.36
                                WL            12.58  13.65  14.73  15.79
                                WS            16.92  17.90  18.87  19.85
                      24Mar1998 WG     <U>11.26</U>  12.17  13.02  13.91
                                WL     <U>12.39</U>  13.40  14.32  15.30
                                WS     <U>16.58</U>  17.49  18.26  19.16

                                          6      7      8      9      10  \
State County          Date      Scale
AK    Ancorage        09Sep1997 WG     21.73  22.89  24.05  25.21  26.36
                                WL     23.90  25.18  26.45  27.73  29.00
                                WS     29.29  30.45  31.61  32.77  33.29
                      09Sep2008 WG     27.12  29.03  30.92  32.83  34.70
                                WL     29.83  31.92  34.00  36.09  38.17
                                WS     36.95  38.85  40.75  42.64  43.53
                      10Sep1996 WG     21.53  22.65  23.78  24.91  26.04
                                WL     23.68  24.91  26.15  27.40  28.65
                                WS     29.00  30.12  31.25  32.38  32.87
                      11Sep2007 WG     26.33  28.18  30.02  31.87  33.69
                                WL     28.96  30.99  33.01  35.04  37.06
                                WS     35.87  37.72  39.56  41.40  42.26
                      12Sep2006 WG     25.86  27.67  29.48  31.30  33.09
                                WL     28.44  30.43  32.42  34.41  36.40
                                WS     35.23  37.04  38.85  40.66  41.50
                      13Sep2005 WG     25.14  26.90  28.66  30.43  32.17
                                WL     27.65  29.59  31.52  33.46  35.39
                                WS     34.26  36.02  37.78  39.54  40.35
                      13Sep2016 WG     29.57  31.66  33.70  35.79  37.83
                                WL     32.53  34.80  37.07  39.36  41.61
                                WS     40.28  42.35  44.42  46.49  47.45
                      14Sep2004 WG     24.34  26.05  27.75  29.46  31.15
                                WL     26.77  28.65  30.52  32.40  34.27
                                WS     33.17  34.88  36.58  38.29  39.07
                      15Sep2015 WG     29.16  31.22  33.24  35.30  37.31
                                WL     32.08  34.32  36.56  38.82  41.04
                                WS     39.73  41.77  43.81  45.85  46.80
                      16Sep2003 WG     23.42  25.07  26.70  28.35  29.98
                                WL     25.76  27.57  29.37  31.18  32.98
                                WS     31.92  33.57  35.20  36.85  37.60
...                                      ...    ...    ...    ...    ...
WY    Washakie County 17Mar2004 WG     17.87  19.12  20.39  21.68  22.98
                                WL     19.66  21.03  22.43  23.86  25.28
                                WS     24.36  25.62  26.89  28.19  28.91
                      17Mar2015 WG     21.86  23.44  25.04  26.64  28.31
                                WL     24.05  25.78  27.57  29.32  31.12
                                WS     29.84  31.47  33.04  34.63  35.52
                      18Mar1997 WG     14.39  15.25  16.12  16.98  17.84
                                WL     15.84  16.78  17.73  18.68  19.62
                                WS     19.49  20.35  21.21  22.08  22.69
                      18Mar2003 WG     17.19  18.39  19.56  20.74  21.91
                                WL     18.92  20.22  21.53  22.81  24.11
                                WS     23.44  24.62  25.79  26.96  27.69
                      19Mar2002 WG     16.70  17.84  18.98  20.12  21.26
                                WL     18.37  19.62  20.89  22.13  23.39
                                WS     22.74  23.88  25.02  26.15  26.86
                      19Mar2014 WG     21.64  23.20  24.79  26.37  28.02
                                WL     23.81  25.52  27.29  29.02  30.81
                                WS     29.54  31.15  32.71  34.28  35.16
                      20Mar2001 WG     16.34  17.43  18.51  19.60  20.70
                                WL     17.98  19.17  20.36  21.56  22.76
                                WS     22.22  23.31  24.39  25.48  26.14
                      21Mar2000 WG     15.81  16.84  17.88  18.91  19.94
                                WL     17.39  18.52  19.67  20.80  21.93
                                WS     21.48  22.51  23.54  24.57  25.23
                      23Mar1999 WG     15.34  16.25  17.18  18.10  19.02
                                WL     16.88  17.89  18.90  19.91  20.92
                                WS     20.78  21.69  22.62  23.54  24.19
                      24Mar1998 WG     14.80  15.68  16.58  17.46  18.35
                                WL     16.29  17.26  18.24  19.21  20.18
                                WS     20.05  20.93  21.82  22.71  23.34

                                          11     12     13     14
State County          Date      Scale
AK    Ancorage        09Sep1997 WG     27.53  28.68  29.84  31.00
                                WL     30.28  31.55  32.82  34.10
                                WS     33.96  34.80  35.80  36.95
                      09Sep2008 WG     36.63  38.50  40.42  42.29
                                WL     40.26  42.35  44.45  46.54
                                WS     44.64  46.03  47.71  49.63
                      10Sep1996 WG     27.16  28.29  29.42  30.55
                                WL     29.88  31.12  32.37  33.61
                                WS     33.50  34.29  35.24  36.32
                      11Sep2007 WG     35.56  37.38  39.24  41.06
                                WL     39.09  41.12  43.15  45.18
                                WS     43.34  44.69  46.32  48.18
                      12Sep2006 WG     34.92  36.71  38.54  40.33
                                WL     38.39  40.38  42.38  44.37
                                WS     42.56  43.89  45.49  47.32
                      13Sep2005 WG     33.95  35.69  37.47  39.22
                                WL     37.33  39.26  41.21  43.14
                                WS     41.38  42.68  44.23  46.01
                      13Sep2016 WG     39.93  41.97  44.07  46.10
                                WL     43.88  46.17  48.45  50.74
                                WS     48.67  50.18  52.00  54.09
                      14Sep2004 WG     32.87  34.56  36.28  37.98
                                WL     36.15  38.02  39.90  41.77
                                WS     40.07  41.33  42.83  44.55
                      15Sep2015 WG     39.38  41.39  43.47  45.47
                                WL     43.28  45.54  47.79  50.04
                                WS     48.00  49.49  51.29  53.35
                      16Sep2003 WG     31.63  33.26  34.91  36.55
                                WL     34.79  36.59  38.40  40.20
                                WS     38.56  39.77  41.22  42.87
...                                      ...    ...    ...    ...
WY    Washakie County 17Mar2004 WG     24.28  25.54  26.69  27.63
                                WL     26.71  28.10  29.36  30.39
                                WS     29.86  31.06  32.49  34.15
                      17Mar2015 WG     29.92  31.49  32.90  34.07
                                WL     32.92  34.63  36.19  37.47
                                WS     36.65  38.00  39.72  41.39
                      18Mar1997 WG     18.72  19.49  20.15  20.86
                                WL     20.59  21.45  22.18  22.95
                                WS     23.51  24.51  25.70  27.08
                      18Mar2003 WG     23.09  24.26  25.28  26.16
                                WL     25.40  26.69  27.80  28.78
                                WS     28.62  29.80  31.18  32.79
                      19Mar2002 WG     22.40  23.54  24.52  25.38
                                WL     24.64  25.89  26.97  27.92
                                WS     27.76  28.91  30.25  31.81
                      19Mar2014 WG     29.62  31.17  32.57  33.73
                                WL     32.59  34.28  35.83  37.09
                                WS     36.28  37.62  39.32  40.98
                      20Mar2001 WG     21.73  22.63  23.40  24.22
                                WL     23.91  24.89  25.74  26.65
                                WS     27.01  28.09  29.37  30.84
                      21Mar2000 WG     20.93  21.80  22.54  23.33
                                WL     23.03  23.98  24.80  25.67
                                WS     26.08  27.16  28.43  29.89
                      23Mar1999 WG     19.95  20.78  21.49  22.24
                                WL     21.95  22.86  23.64  24.47
                                WS     25.06  26.13  27.41  28.85
                      24Mar1998 WG     19.25  20.05  20.73  21.46
                                WL     21.18  22.06  22.81  23.61
                                WS     24.18  25.21  26.44  27.85

[194592 rows x 15 columns]

In [51]:
pickle.dump( pay, open( "pay.p", "wb" ) )

In [54]:
pay.head()

                                   0      1      2      3      4      5   \
State County   Date      Scale
AK    Ancorage 09Sep1997 WG     14.78  15.94  17.10  18.26  19.42  20.57
                         WL     16.26  17.53  18.82  20.08  21.36  22.64
                         WS     22.34  23.50  24.66  25.82  26.98  28.13
               09Sep2008 WG     15.76  17.64  19.54  21.43  23.34  25.22
                         WL     17.31  19.39  21.50  23.56  25.67  27.75

                                   6      7      8      9      10     11  \
State County   Date      Scale
AK    Ancorage 09Sep1997 WG     21.73  22.89  24.05  25.21  26.36  27.53
                         WL     23.90  25.18  26.45  27.73  29.00  30.28
                         WS     29.29  30.45  31.61  32.77  33.29  33.96
               09Sep2008 WG     27.12  29.03  30.92  32.83  34.70  36.63
                         WL     29.83  31.92  34.00  36.09  38.17  40.26

                                   12     13     14
State County   Date      Scale
AK    Ancorage 09Sep1997 WG     28.68  29.84  31.00
                         WL     31.55  32.82  34.10
                         WS     34.80  35.80  36.95
               09Sep2008 WG     38.50  40.42  42.29
                         WL     42.35  44.45  46.54

https://stackoverflow.com/questions/17921010/how-to-query-multiindex-index-columns-values-in-pandas