In [1]:
import pandas as pd
import pickle
import requests
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import os

In [2]:
def table_parser(page):
    file = open(page)
    # page = page.split('\n')
    table = []
    num = 0
    for line in file:
        if 'Grade' in line:
            num += 1
        if num > 0 and len(line.split())!=0:
            num += 1
        if 3 <= num < 21:
            # line = line.rstrip()
            if len(line.split())!=0:
                split_line = line.split(' ')
                split_line = [x for x in split_line if x != '']
                strip_line = split_line[:16]
                table.append(strip_line)
    df = pd.DataFrame(table)
    df.drop([0,1,2,3,4,6,7,8,9,11,12,13,14],axis=1,inplace=True)
    df.drop([15,16,17],inplace=True)
    df.columns = ['WG', 'WL', 'WS']
    df.index = range(1,16)
    
    file.close()
    return df

In [3]:
list(table_parser('docs/AK/007,007,AK,Ancorage/09Sep1997/AK-007,007,AK,Ancorage-09Sep1997.html')['WG'])

['14.78',
 '15.94',
 '17.10',
 '18.26',
 '19.42',
 '20.57',
 '21.73',
 '22.89',
 '24.05',
 '25.21',
 '26.36',
 '27.53',
 '28.68',
 '29.84',
 '31.00']

In [78]:
test = pd.DataFrame(test_df)

In [13]:
dic = {}
for state in os.listdir('docs'):
    dic[state] = {}
    for county in os.listdir('docs/'+state):
        
        name = county.split(',')[3]
        dic[state][name] = {}
        for date in os.listdir('docs/'+state+'/'+county):
            try:
                dic[state][name][date] = {}
                temp = table_parser('docs/{}/{}/{}/{}-{}-{}.html'.format(state, county, date,state, county, date))
                dic[state][name][date]['WG'] = temp['WG']
                dic[state][name][date]['WL'] = temp['WL']
                dic[state][name][date]['WS'] = temp['WS']
            except ValueError:
                print(state, county, date)

AZ 009,009,RUS,Gila County 07May1996
AZ 009,009,RUS,Yavapai County 07May1996
AZ 010,010,RUS,Graham County 07May1996
AZ 010,010,RUS,Greenlee County 07May1996

In [117]:
# dic = {'A': {'a': {1: [2,3,4,5,6],
#    ...:                           2: [2,3,4,5,6]},
#    ...:                     'b': {1: [2,3,4,5,6],
#    ...:                           2: [2,3,4,5,6]}},
#    ...:               'B': {'a': {1: [2,3,4,5,6],
#    ...:                           2: [2,3,4,5,6]},
#    ...:                     'b': {1: [2,3,4,5,6],
#    ...:                           2: [2,3,4,5,6]}}}

In [14]:
reform = {(level1_key, level2_key, level3_key): values
           for level1_key, level2_dict in dic.items()
           for level2_key, level3_dict in level2_dict.items()
           for level3_key, level4_dict in level3_dict.items()
#            for level4_key, level5_dict in level4_dict.items()
           for level4_key, values      in level4_dict.items()}

In [21]:
test = pd.DataFrame(reform).T
test.head()

                          1      2      3      4      5      6      7      8   \
AK Ancorage 09Sep1997  22.34  23.50  24.66  25.82  26.98  28.13  29.29  30.45
            09Sep2008  25.59  27.47  29.37  31.26  33.18  35.05  36.95  38.85
            10Sep1996  22.22  23.35  24.48  25.60  26.73  27.87  29.00  30.12
            11Sep2007  24.84  26.67  28.51  30.35  32.21  34.03  35.87  37.72
            12Sep2006  24.39  26.19  28.00  29.81  31.63  33.42  35.23  37.04

                          9      10     11     12     13     14     15
AK Ancorage 09Sep1997  31.61  32.77  33.29  33.96  34.80  35.80  36.95
            09Sep2008  40.75  42.64  43.53  44.64  46.03  47.71  49.63
            10Sep1996  31.25  32.38  32.87  33.50  34.29  35.24  36.32
            11Sep2007  39.56  41.40  42.26  43.34  44.69  46.32  48.18
            12Sep2006  38.85  40.66  41.50  42.56  43.89  45.49  47.32

In [16]:
reform

{('AK', 'Ancorage', '09Sep1997'): 1     22.34
 2     23.50
 3     24.66
 4     25.82
 5     26.98
 6     28.13
 7     29.29
 8     30.45
 9     31.61
 10    32.77
 11    33.29
 12    33.96
 13    34.80
 14    35.80
 15    36.95
 Name: WS, dtype: object, ('AK', 'Ancorage', '09Sep2008'): 1     25.59
 2     27.47
 3     29.37
 4     31.26
 5     33.18
 6     35.05
 7     36.95
 8     38.85
 9     40.75
 10    42.64
 11    43.53
 12    44.64
 13    46.03
 14    47.71
 15    49.63
 Name: WS, dtype: object, ('AK', 'Ancorage', '10Sep1996'): 1     22.22
 2     23.35
 3     24.48
 4     25.60
 5     26.73
 6     27.87
 7     29.00
 8     30.12
 9     31.25
 10    32.38
 11    32.87
 12    33.50
 13    34.29
 14    35.24
 15    36.32
 Name: WS, dtype: object, ('AK', 'Ancorage', '11Sep2007'): 1     24.84
 2     26.67
 3     28.51
 4     30.35
 5     32.21
 6     34.03
 7     35.87
 8     37.72
 9     39.56
 10    41.40
 11    42.26
 12    43.34
 13    44.69
 14    46.32
 15    48.18
 Name: WS, dtype: object, ('AK', 'Ancorage', '12Sep2006'): 1     24.39
 2     26.19
 3     28.00
 4     29.81
 5     31.63
 6     33.42
 7     35.23
 8     37.04
 9     38.85
 10    40.66
 11    41.50
 12    42.56
 13    43.89
 14    45.49
 15    47.32
 Name: WS, dtype: object, ('AK', 'Ancorage', '13Sep2005'): 1     23.71
 2     25.46
 3     27.22
 4     28.98
 5     30.75
 6     32.50
 7     34.26
 8     36.02
 9     37.78
 10    39.54
 11    40.35
 12    41.38
 13    42.68
 14    44.23
 15    46.01
 Name: WS, dtype: object, ('AK', 'Ancorage', '13Sep2016'): 1     27.90
 2     29.95
 3     32.02
 4     34.09
 5     36.17
 6     38.22
 7     40.28
 8     42.35
 9     44.42
 10    46.49
 11    47.45
 12    48.67
 13    50.18
 14    52.00
 15    54.09
 Name: WS, dtype: object, ('AK', 'Ancorage', '14Sep2004'): 1     22.96
 2     24.65
 3     26.36
 4     28.06
 5     29.77
 6     31.47
 7     33.17
 8     34.88
 9     36.58
 10    38.29
 11    39.07
 12    40.07
 13    41.33
 14    42.83
 15    44.55
 Name: WS, dtype: object, ('AK', 'Ancorage', '15Sep2015'): 1     27.52
 2     29.54
 3     31.58
 4     33.62
 5     35.67
 6     37.69
 7     39.73
 8     41.77
 9     43.81
 10    45.85
 11    46.80
 12    48.00
 13    49.49
 14    51.29
 15    53.35
 Name: WS, dtype: object, ('AK', 'Ancorage', '16Sep2003'): 1     22.09
 2     23.72
 3     25.37
 4     27.00
 5     28.65
 6     30.28
 7     31.92
 8     33.57
 9     35.20
 10    36.85
 11    37.60
 12    38.56
 13    39.77
 14    41.22
 15    42.87
 Name: WS, dtype: object, ('AK', 'Ancorage', '16Sep2014'): 1     27.24
 2     29.24
 3     31.26
 4     33.28
 5     35.31
 6     37.31
 7     39.33
 8     41.35
 9     43.37
 10    45.39
 11    46.33
 12    47.52
 13    49.00
 14    50.78
 15    52.82
 Name: WS, dtype: object, ('AK', 'Ancorage', '17Sep2002'): 1     <U>21.97</U>
 2     <U>23.59</U>
 3     <U>25.19</U>
 4     <U>26.80</U>
 5     <U>28.40</U>
 6     <U>30.00</U>
 7            31.62
 8            33.22
 9            34.83
 10           36.43
 11           37.13
 12           38.02
 13           39.13
 14           40.47
 15           41.99
 Name: WS, dtype: object, ('AK', 'Ancorage', '17Sep2013'): 1     26.97
 2     28.95
 3     30.95
 4     32.95
 5     34.96
 6     36.94
 7     38.94
 8     40.94
 9     42.94
 10    44.94
 11    45.87
 12    47.04
 13    48.51
 14    50.27
 15    52.29
 Name: WS, dtype: object, ('AK', 'Ancorage', '18Sep2001'): 1     23.15
 2     24.55
 3     25.94
 4     27.34
 5     28.73
 6     30.13
 7     31.52
 8     32.92
 9     34.31
 10    35.71
 11    36.34
 12    37.17
 13    38.21
 14    39.44
 15    40.86
 Name: WS, dtype: object, ('AK', 'Ancorage', '18Sep2012'): 1     26.97
 2     28.95
 3     30.95
 4     32.95
 5     34.96
 6     36.94
 7     38.94
 8     40.94
 9     42.94
 10    44.94
 11    45.87
 12    47.04
 13    48.51
 14    50.27
 15    52.29
 Name: WS, dtype: object, ('AK', 'Ancorage', '19Sep2000'): 1     22.93
 2     24.26
 3     25.58
 4     26.91
 5     28.24
 6     29.57
 7     30.89
 8     32.22
 9     33.54
 10    34.88
 11    35.49
 12    36.30
 13    37.30
 14    38.47
 15    39.85
 Name: WS, dtype: object, ('AK', 'Ancorage', '20Sep2011'): 1     26.97
 2     28.95
 3     30.95
 4     32.95
 5     34.96
 6     36.94
 7     38.94
 8     40.94
 9     42.94
 10    44.94
 11    45.87
 12    47.04
 13    48.51
 14    50.27
 15    52.29
 Name: WS, dtype: object, ('AK', 'Ancorage', '21Sep1999'): 1     22.75
 2     23.95
 3     25.14
 4     26.34
 5     27.54
 6     28.74
 7     29.94
 8     31.14
 9     32.33
 10    33.53
 11    34.13
 12    34.91
 13    35.87
 14    37.03
 15    38.35
 Name: WS, dtype: object, ('AK', 'Ancorage', '21Sep2010'): 1     26.97
 2     28.95
 3     30.95
 4     32.95
 5     34.96
 6     36.94
 7     38.94
 8     40.94
 9     42.94
 10    44.94
 11    45.87
 12    47.04
 13    48.51
 14    50.27
 15    52.29
 Name: WS, dtype: object, ('AK', 'Ancorage', '22Sep1998'): 1     22.43
 2     23.63
 3     24.82
 4     26.02
 5     27.20
 6     28.40
 7     29.59
 8     30.79
 9     31.98
 10    33.16
 11    33.71
 12    34.42
 13    35.31
 14    36.37
 15    37.58
 Name: WS, dtype: object, ('AK', 'Ancorage', '22Sep2009'): 1     26.50
 2     28.44
 3     30.41
 4     32.37
 5     34.35
 6     36.29
 7     38.26
 8     40.22
 9     42.19
 10    44.15
 11    45.07
 12    46.22
 13    47.66
 14    49.39
 15    51.38
 Name: WS, dtype: object, ('AK', 'Fairbanks', '09Sep1997'): 1     22.34
 2     23.50
 3     24.66
 4     25.82
 5     26.98
 6     28.13
 7     29.29
 8     30.45
 9     31.61
 10    32.77
 11    33.29
 12    33.96
 13    34.80
 14    35.80
 15    36.95
 Name: WS, dtype: object, ('AK', 'Fairbanks', '09Sep2008'): 1     25.59
 2     27.47
 3     29.37
 4     31.26
 5     33.18
 6     35.05
 7     36.95
 8     38.85
 9     40.75
 10    42.64
 11    43.53
 12    44.64
 13    46.03
 14    47.71
 15    49.63
 Name: WS, dtype: object, ('AK', 'Fairbanks', '10Sep1996'): 1     22.22
 2     23.35
 3     24.48
 4     25.60
 5     26.73
 6     27.87
 7     29.00
 8     30.12
 9     31.25
 10    32.38
 11    32.87
 12    33.50
 13    34.29
 14    35.24
 15    36.32
 Name: WS, dtype: object, ('AK', 'Fairbanks', '11Sep2007'): 1     24.84
 2     26.67
 3     28.51
 4     30.35
 5     32.21
 6     34.03
 7     35.87
 8     37.72
 9     39.56
 10    41.40
 11    42.26
 12    43.34
 13    44.69
 14    46.32
 15    48.18
 Name: WS, dtype: object, ('AK', 'Fairbanks', '12Sep2006'): 1     24.39
 2     26.19
 3     28.00
 4     29.81
 5     31.63
 6     33.42
 7     35.23
 8     37.04
 9     38.85
 10    40.66
 11    41.50
 12    42.56
 13    43.89
 14    45.49
 15    47.32
 Name: WS, dtype: object, ('AK', 'Fairbanks', '13Sep2005'): 1     23.71
 2     25.46
 3     27.22
 4     28.98
 5     30.75
 6     32.50
 7     34.26
 8     36.02
 9     37.78
 10    39.54
 11    40.35
 12    41.38
 13    42.68
 14    44.23
 15    46.01
 Name: WS, dtype: object, ('AK', 'Fairbanks', '13Sep2016'): 1     27.90
 2     29.95
 3     32.02
 4     34.09
 5     36.17
 6     38.22
 7     40.28
 8     42.35
 9     44.42
 10    46.49
 11    47.45
 12    48.67
 13    50.18
 14    52.00
 15    54.09
 Name: WS, dtype: object, ('AK', 'Fairbanks', '14Sep2004'): 1     22.96
 2     24.65
 3     26.36
 4     28.06
 5     29.77
 6     31.47
 7     33.17
 8     34.88
 9     36.58
 10    38.29
 11    39.07
 12    40.07
 13    41.33
 14    42.83
 15    44.55
 Name: WS, dtype: object, ('AK', 'Fairbanks', '15Sep2015'): 1     27.52
 2     29.54
 3     31.58
 4     33.62
 5     35.67
 6     37.69
 7     39.73
 8     41.77
 9     43.81
 10    45.85
 11    46.80
 12    48.00
 13    49.49
 14    51.29
 15    53.35
 Name: WS, dtype: object, ('AK', 'Fairbanks', '16Sep2003'): 1     22.09
 2     23.72
 3     25.37
 4     27.00
 5     28.65
 6     30.28
 7     31.92
 8     33.57
 9     35.20
 10    36.85
 11    37.60
 12    38.56
 13    39.77
 14    41.22
 15    42.87
 Name: WS, dtype: object, ('AK', 'Fairbanks', '16Sep2014'): 1     27.24
 2     29.24
 3     31.26
 4     33.28
 5     35.31
 6     37.31
 7     39.33
 8     41.35
 9     43.37
 10    45.39
 11    46.33
 12    47.52
 13    49.00
 14    50.78
 15    52.82
 Name: WS, dtype: object, ('AK', 'Fairbanks', '17Sep2002'): 1     <U>21.97</U>
 2     <U>23.59</U>
 3     <U>25.19</U>
 4     <U>26.80</U>
 5     <U>28.40</U>
 6     <U>30.00</U>
 7            31.62
 8            33.22
 9            34.83
 10           36.43
 11           37.13
 12           38.02
 13           39.13
 14           40.47
 15           41.99
 Name: WS, dtype: object, ('AK', 'Fairbanks', '17Sep2013'): 1     26.97
 2     28.95
 3     30.95
 4     32.95
 5     34.96
 6     36.94
 7     38.94
 8     40.94
 9     42.94
 10    44.94
 11    45.87
 12    47.04
 13    48.51
 14    50.27
 15    52.29
 Name: WS, dtype: object, ('AK', 'Fairbanks', '18Sep2001'): 1     23.15
 2     24.55
 3     25.94
 4     27.34
 5     28.73
 6     30.13
 7     31.52
 8     32.92
 9     34.31
 10    35.71
 11    36.34
 12    37.17
 13    38.21
 14    39.44
 15    40.86
 Name: WS, dtype: object, ('AK', 'Fairbanks', '18Sep2012'): 1     26.97
 2     28.95
 3     30.95
 4     32.95
 5     34.96
 6     36.94
 7     38.94
 8     40.94
 9     42.94
 10    44.94
 11    45.87
 12    47.04
 13    48.51
 14    50.27
 15    52.29
 Name: WS, dtype: object, ('AK', 'Fairbanks', '19Sep2000'): 1     22.93
 2     24.26
 3     25.58
 4     26.91
 5     28.24
 6     29.57
 7     30.89
 8     32.22
 9     33.54
 10    34.88
 11    35.49
 12    36.30
 13    37.30
 14    38.47
 15    39.85
 Name: WS, dtype: object, ('AK', 'Fairbanks', '20Sep2011'): 1     26.97
 2     28.95
 3     30.95
 4     32.95
 5     34.96
 6     36.94
 7     38.94
 8     40.94
 9     42.94
 10    44.94
 11    45.87
 12    47.04
 13    48.51
 14    50.27
 15    52.29
 Name: WS, dtype: object, ('AK', 'Fairbanks', '21Sep1999'): 1     22.75
 2     23.95
 3     25.14
 4     26.34
 5     27.54
 6     28.74
 7     29.94
 8     31.14
 9     32.33
 10    33.53
 11    34.13
 12    34.91
 13    35.87
 14    37.03
 15    38.35
 Name: WS, dtype: object, ('AK', 'Fairbanks', '21Sep2010'): 1     26.97
 2     28.95
 3     30.95
 4     32.95
 5     34.96
 6     36.94
 7     38.94
 8     40.94
 9     42.94
 10    44.94
 11    45.87
 12    47.04
 13    48.51
 14    50.27
 15    52.29
 Name: WS, dtype: object, ('AK', 'Fairbanks', '22Sep1998'): 1     22.43
 2     23.63
 3     24.82
 4     26.02
 5     27.20
 6     28.40
 7     29.59
 8     30.79
 9     31.98
 10    33.16
 11    33.71
 12    34.42
 13    35.31
 14    36.37
 15    37.58
 Name: WS, dtype: object, ('AK', 'Fairbanks', '22Sep2009'): 1     26.50
 2     28.44
 3     30.41
 4     32.37
 5     34.35
 6     36.29
 7     38.26
 8     40.22
 9     42.19
 10    44.15
 11    45.07
 12    46.22
 13    47.66
 14    49.39
 15    51.38
 Name: WS, dtype: object, ('AK', 'Juneau', '09Sep1997'): 1     22.34
 2     23.50
 3     24.66
 4     25.82
 5     26.98
 6     28.13
 7     29.29
 8     30.45
 9     31.61
 10    32.77
 11    33.29
 12    33.96
 13    34.80
 14    35.80
 15    36.95
 Name: WS, dtype: object, ('AK', 'Juneau', '09Sep2008'): 1     25.59
 2     27.47
 3     29.37
 4     31.26
 5     33.18
 6     35.05
 7     36.95
 8     38.85
 9     40.75
 10    42.64
 11    43.53
 12    44.64
 13    46.03
 14    47.71
 15    49.63
 Name: WS, dtype: object, ('AK', 'Juneau', '10Sep1996'): 1     22.22
 2     23.35
 3     24.48
 4     25.60
 5     26.73
 6     27.87
 7     29.00
 8     30.12
 9     31.25
 10    32.38
 11    32.87
 12    33.50
 13    34.29
 14    35.24
 15    36.32
 Name: WS, dtype: object, ('AK', 'Juneau', '11Sep2007'): 1     24.84
 2     26.67
 3     28.51
 4     30.35
 5     32.21
 6     34.03
 7     35.87
 8     37.72
 9     39.56
 10    41.40
 11    42.26
 12    43.34
 13    44.69
 14    46.32
 15    48.18
 Name: WS, dtype: object, ('AK', 'Juneau', '12Sep2006'): 1     24.39
 2     26.19
 3     28.00
 4     29.81
 5     31.63
 6     33.42
 7     35.23
 8     37.04
 9     38.85
 10    40.66
 11    41.50
 12    42.56
 13    43.89
 14    45.49
 15    47.32
 Name: WS, dtype: object, ('AK', 'Juneau', '13Sep2005'): 1     23.71
 2     25.46
 3     27.22
 4     28.98
 5     30.75
 6     32.50
 7     34.26
 8     36.02
 9     37.78
 10    39.54
 11    40.35
 12    41.38
 13    42.68
 14    44.23
 15    46.01
 Name: WS, dtype: object, ('AK', 'Juneau', '13Sep2016'): 1     27.90
 2     29.95
 3     32.02
 4     34.09
 5     36.17
 6     38.22
 7     40.28
 8     42.35
 9     44.42
 10    46.49
 11    47.45
 12    48.67
 13    50.18
 14    52.00
 15    54.09
 Name: WS, dtype: object, ('AK', 'Juneau', '14Sep2004'): 1     22.96
 2     24.65
 3     26.36
 4     28.06
 5     29.77
 6     31.47
 7     33.17
 8     34.88
 9     36.58
 10    38.29
 11    39.07
 12    40.07
 13    41.33
 14    42.83
 15    44.55
 Name: WS, dtype: object, ('AK', 'Juneau', '15Sep2015'): 1     27.52
 2     29.54
 3     31.58
 4     33.62
 5     35.67
 6     37.69
 7     39.73
 8     41.77
 9     43.81
 10    45.85
 11    46.80
 12    48.00
 13    49.49
 14    51.29
 15    53.35
 Name: WS, dtype: object, ('AK', 'Juneau', '16Sep2003'): 1     22.09
 2     23.72
 3     25.37
 4     27.00
 5     28.65
 6     30.28
 7     31.92
 8     33.57
 9     35.20
 10    36.85
 11    37.60
 12    38.56
 13    39.77
 14    41.22
 15    42.87
 Name: WS, dtype: object, ('AK', 'Juneau', '16Sep2014'): 1     27.24
 2     29.24
 3     31.26
 4     33.28
 5     35.31
 6     37.31
 7     39.33
 8     41.35
 9     43.37
 10    45.39
 11    46.33
 12    47.52
 13    49.00
 14    50.78
 15    52.82
 Name: WS, dtype: object, ('AK', 'Juneau', '17Sep2002'): 1     <U>21.97</U>
 2     <U>23.59</U>
 3     <U>25.19</U>
 4     <U>26.80</U>
 5     <U>28.40</U>
 6     <U>30.00</U>
 7            31.62
 8            33.22
 9            34.83
 10           36.43
 11           37.13
 12           38.02
 13           39.13
 14           40.47
 15           41.99
 Name: WS, dtype: object, ('AK', 'Juneau', '17Sep2013'): 1     26.97
 2     28.95
 3     30.95
 4     32.95
 5     34.96
 6     36.94
 7     38.94
 8     40.94
 9     42.94
 10    44.94
 11    45.87
 12    47.04
 13    48.51
 14    50.27
 15    52.29
 Name: WS, dtype: object, ('AK', 'Juneau', '18Sep2001'): 1     23.15
 2     24.55
 3     25.94
 4     27.34
 5     28.73
 6     30.13
 7     31.52
 8     32.92
 9     34.31
 10    35.71
 11    36.34
 12    37.17
 13    38.21
 14    39.44
 15    40.86
 Name: WS, dtype: object, ('AK', 'Juneau', '18Sep2012'): 1     26.97
 2     28.95
 3     30.95
 4     32.95
 5     34.96
 6     36.94
 7     38.94
 8     40.94
 9     42.94
 10    44.94
 11    45.87
 12    47.04
 13    48.51
 14    50.27
 15    52.29
 Name: WS, dtype: object, ('AK', 'Juneau', '19Sep2000'): 1     22.93
 2     24.26
 3     25.58
 4     26.91
 5     28.24
 6     29.57
 7     30.89
 8     32.22
 9     33.54
 10    34.88
 11    35.49
 12    36.30
 13    37.30
 14    38.47
 15    39.85
 Name: WS, dtype: object, ('AK', 'Juneau', '20Sep2011'): 1     26.97
 2     28.95
 3     30.95
 4     32.95
 5     34.96
 6     36.94
 7     38.94
 8     40.94
 9     42.94
 10    44.94
 11    45.87
 12    47.04
 13    48.51
 14    50.27
 15    52.29
 Name: WS, dtype: object, ('AK', 'Juneau', '21Sep1999'): 1     22.75
 2     23.95
 3     25.14
 4     26.34
 5     27.54
 6     28.74
 7     29.94
 8     31.14
 9     32.33
 10    33.53
 11    34.13
 12    34.91
 13    35.87
 14    37.03
 15    38.35
 Name: WS, dtype: object, ('AK', 'Juneau', '21Sep2010'): 1     26.97
 2     28.95
 3     30.95
 4     32.95
 5     34.96
 6     36.94
 7     38.94
 8     40.94
 9     42.94
 10    44.94
 11    45.87
 12    47.04
 13    48.51
 14    50.27
 15    52.29
 Name: WS, dtype: object, ('AK', 'Juneau', '22Sep1998'): 1     22.43
 2     23.63
 3     24.82
 4     26.02
 5     27.20
 6     28.40
 7     29.59
 8     30.79
 9     31.98
 10    33.16
 11    33.71
 12    34.42
 13    35.31
 14    36.37
 15    37.58
 Name: WS, dtype: object, ('AK', 'Juneau', '22Sep2009'): 1     26.50
 2     28.44
 3     30.41
 4     32.37
 5     34.35
 6     36.29
 7     38.26
 8     40.22
 9     42.19
 10    44.15
 11    45.07
 12    46.22
 13    47.66
 14    49.39
 15    51.38
 Name: WS, dtype: object, ('AK', 'Excludes Ancorage', '09Sep2008'): 1     25.59
 2     27.47
 3     29.37
 4     31.26
 5     33.18
 6     35.05
 7     36.95
 8     38.85
 9     40.75
 10    42.64
 11    43.53
 12    44.64
 13    46.03
 14    47.71
 15    49.63
 Name: WS, dtype: object, ('AK', 'Excludes Ancorage', '11Sep2007'): 1     24.84
 2     26.67
 3     28.51
 4     30.35
 5     32.21
 6     34.03
 7     35.87
 8     37.72
 9     39.56
 10    41.40
 11    42.26
 12    43.34
 13    44.69
 14    46.32
 15    48.18
 Name: WS, dtype: object, ('AK', 'Excludes Ancorage', '13Sep2016'): 1     27.90
 2     29.95
 3     32.02
 4     34.09
 5     36.17
 6     38.22
 7     40.28
 8     42.35
 9     44.42
 10    46.49
 11    47.45
 12    48.67
 13    50.18
 14    52.00
 15    54.09
 Name: WS, dtype: object, ('AK', 'Excludes Ancorage', '15Sep2015'): 1     27.52
 2     29.54
 3     31.58
 4     33.62
 5     35.67
 6     37.69
 7     39.73
 8     41.77
 9     43.81
 10    45.85
 11    46.80
 12    48.00
 13    49.49
 14    51.29
 15    53.35
 Name: WS, dtype: object, ('AK', 'Excludes Ancorage', '16Sep2014'): 1     27.24
 2     29.24
 3     31.26
 4     33.28
 5     35.31
 6     37.31
 7     39.33
 8     41.35
 9     43.37
 10    45.39
 11    46.33
 12    47.52
 13    49.00
 14    50.78
 15    52.82
 Name: WS, dtype: object, ('AK', 'Excludes Ancorage', '17Sep2013'): 1     26.97
 2     28.95
 3     30.95
 4     32.95
 5     34.96
 6     36.94
 7     38.94
 8     40.94
 9     42.94
 10    44.94
 11    45.87
 12    47.04
 13    48.51
 14    50.27
 15    52.29
 Name: WS, dtype: object, ('AK', 'Excludes Ancorage', '18Sep2012'): 1     26.97
 2     28.95
 3     30.95
 4     32.95
 5     34.96
 6     36.94
 7     38.94
 8     40.94
 9     42.94
 10    44.94
 11    45.87
 12    47.04
 13    48.51
 14    50.27
 15    52.29
 Name: WS, dtype: object, ('AK', 'Excludes Ancorage', '20Sep2011'): 1     26.97
 2     28.95
 3     30.95
 4     32.95
 5     34.96
 6     36.94
 7     38.94
 8     40.94
 9     42.94
 10    44.94
 11    45.87
 12    47.04
 13    48.51
 14    50.27
 15    52.29
 Name: WS, dtype: object, ('AK', 'Excludes Ancorage', '21Sep2010'): 1     26.97
 2     28.95
 3     30.95
 4     32.95
 5     34.96
 6     36.94
 7     38.94
 8     40.94
 9     42.94
 10    44.94
 11    45.87
 12    47.04
 13    48.51
 14    50.27
 15    52.29
 Name: WS, dtype: object, ('AK', 'Excludes Ancorage', '22Sep2009'): 1     26.50
 2     28.44
 3     30.41
 4     32.37
 5     34.35
 6     36.29
 7     38.26
 8     40.22
 9     42.19
 10    44.15
 11    45.07
 12    46.22
 13    47.66
 14    49.39
 15    51.38
 Name: WS, dtype: object, ('AK',
  'Excludes Fairbanks',
  '09Sep2008'): 1     25.59
 2     27.47
 3     29.37
 4     31.26
 5     33.18
 6     35.05
 7     36.95
 8     38.85
 9     40.75
 10    42.64
 11    43.53
 12    44.64
 13    46.03
 14    47.71
 15    49.63
 Name: WS, dtype: object, ('AK',
  'Excludes Fairbanks',
  '11Sep2007'): 1     24.84
 2     26.67
 3     28.51
 4     30.35
 5     32.21
 6     34.03
 7     35.87
 8     37.72
 9     39.56
 10    41.40
 11    42.26
 12    43.34
 13    44.69
 14    46.32
 15    48.18
 Name: WS, dtype: object, ('AK',
  'Excludes Fairbanks',
  '13Sep2016'): 1     27.90
 2     29.95
 3     32.02
 4     34.09
 5     36.17
 6     38.22
 7     40.28
 8     42.35
 9     44.42
 10    46.49
 11    47.45
 12    48.67
 13    50.18
 14    52.00
 15    54.09
 Name: WS, dtype: object, ('AK',
  'Excludes Fairbanks',
  '15Sep2015'): 1     27.52
 2     29.54
 3     31.58
 4     33.62
 5     35.67
 6     37.69
 7     39.73
 8     41.77
 9     43.81
 10    45.85
 11    46.80
 12    48.00
 13    49.49
 14    51.29
 15    53.35
 Name: WS, dtype: object, ('AK',
  'Excludes Fairbanks',
  '16Sep2014'): 1     27.24
 2     29.24